<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="//img1.wsimg.com/isteam/ip/6c3cd69e-389e-4d61-ac66-8b4c653c295d/favicon/a89ddab5-821a-4b83-ae46-9ea255e3463c.png/:/rs=w:16,h:16,m" sizes="16x16"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FastAPI Auth{% endblock %}</title>

</head>
<body>
{#    <nav>
         <a href="/">Home</a>
         <a href="/login">Login</a>
         <a href="/register">Register</a>
    </nav>
 #}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
